/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h1.display-4 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.message {
    margin-top: 20px;
    font-weight: bold;
    color: #d9534f; /* Rojo para mensajes de error */
}

.pokemon-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
}

    .pokemon-info h2 {
        color: #333;
    }

    .pokemon-info p {
        margin: 5px 0;
    }
