<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <header>
        <h1>Mi Aplicación</h1>
    </header>

    <main>
        @RenderBody() <!-- Aquí se renderizará el contenido de cada vista -->
    </main>

    <footer>
        <p>&copy; 2025 Mi Aplicación</p>
    </footer>

    <script src="~/js/scripts.js"></script>
</body>
</html>